@model IEnumerable<WebApplication1.Models.Mechanic>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<link rel="stylesheet" href="~/Scripts/styles-merged.css">
<link rel="stylesheet" href="~/Scripts/style.min.css">
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop)
            </td>
            <td>
                @Html.ActionLink("Message", "Create", "Messages", new { id = item.ApplicationId }, null) |
                @Html.ActionLink("Details", "Details", new { id = item.MechanicId }) |
                @Html.ActionLink("Leave Review", "CreateR", "Review", new { id = item.ApplicationId }, null) |
                @Html.ActionLink("Reviews", "Details", "Review", new { id = item.ApplicationId }, null)
            </td>
        </tr>
    }


</table>
